In [22]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle

In [23]:
# load trained an model,scaler pickle,one hot encoding
from keras.models import load_model
import pickle

# load trained ANN model
model = load_model('model.h5')



# load the encoders  and scaler

with open('onehotencoder_geo.pkl','rb')as file:
  label_encoder_geo=pickle.load(file)


with open('label_encoder_gender.pkl','rb')as file:
  label_encoder_gender=pickle.load(file)


with open('scaler.pkl','rb')as file:
  scaler=pickle.load(file)

In [24]:
# Example Input Data

input_data={
  'CreditScore':600,
  'Geography':'France',
  'Gender':'Male',
  'Age':40,
  'Tenure':3,
  'Balance':60000,
  'NumOfProducts':2,
  'HasCrCard':1,
  'IsActiveMember':1,
  'EstimatedSalary':50000

}

In [25]:
geo_encoded=label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=label_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\user\Desktop\ANNClassify\venv\lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [26]:
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [27]:
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [28]:
# Encode Categorical Variables

input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])

In [30]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [32]:
input_df=pd.concat([input_df.drop("Geography",axis=1),geo_encoded_df],axis=1)

In [33]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [34]:
# Scaling The Data

input_scaled=scaler.transform(input_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [36]:
# Predict Churn

prediction=model.predict(input_scaled)
print(prediction)

1/1 [==============================] - 0s 169ms/step
[[0.03734892]]

In [37]:
prediction_proba=prediction[0][0]

In [38]:
prediction_proba

0.03734892

In [39]:
if prediction_proba>0.5:
  print("Customer is likely to churn")

else:
  print("Customer is not likely to churn")

Customer is not likely to churn